.App{
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    padding: 32px;
    box-sizing: border-box;
    
}
.container{
    max-width: 350px;
    min-height: 80vh;
    background-color: burlywood;
    margin: 0 auto;
}
.title{
    color: slateblue;
    text-align: center;
}
.line{
    margin: 16px 0px;
    border: 1px dotted #ddd;
}
.lists{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.list-item{
    padding: 16px;
    margin: 8px;
    text-align: center;
}